.update-details {
	background: white;
	.update-container {
		.form-fill {
			form {
				display: flex;
				flex-direction: column;
			}
		}
		.update-header {
			display: flex;
			justify-content: space-between;
			padding: 25px 20px 35px 20px;

			text {
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 28px;
				color: #000000;
			}
		}
		form {
			margin: 20px;
			label {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				margin-bottom: 10px;
			}
			input[type="text"] {
				margin-top: 10px;
				width: 100%;
				height: 40px;
				background: #ffffff;
				border: 1px solid #000000;
				border-radius: 4px;
			}
			input[type="number"] {
				margin-top: 10px;
				width: 100%;

				height: 40px;
				background: #ffffff;
				border: 1px solid #000000;
				border-radius: 4px;
			}
		}
		.footer-text {
			display: flex;
			justify-content: space-between;
			padding: 20px;
			padding-right: 60px;
		}

		button {
			float: right;
			margin: 20px;
			align-items: center;
			padding: 15px 42px;

			height: 52px;
			background: #fb7979;
			border-radius: 10px;
			border: none;
			color: white;
		}
	}
}
// .modal-content{
//   width:394px;
//   .modal-header {
//     width:390px;
//   }

// }
