.sidebarRow {
	.sidebarCol {
		background: #fb7979;
        height: 100vh;
        position: fixed;

        .sidebarNav{
           
            .nav-item{
                .active{
                    background: transparent;
                    color: #fff;
                }
            }
            .nav-item:hover{
                background: #BBBDBF;
                color: #fff;
            }
        }
	}
}
