

    .offcanvas.show, .offcanvas.showing, .offcanvas.show:not(.hiding){
        background-image: url("../Assets/menu bg.svg");
        .menu-body{
            .buttom-nav{
                gap: 30px;
                display: flex;
                flex-direction: column;
                a{
                    padding: 0%;
                    margin: 0%;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
            }
        }
    }
